:root {
    --c-brand: #a855f7;
    --c-brand-light: #c084fc;
    --c-tip: #10B981;
    --c-warning: #F59E0B;
    --c-warning-bg: var(--c-tip-bg);
    --c-warning-title: #B45309;
    --c-warning-text: var(--c-tip-text);
    --c-danger: #F43F5E;
    --c-danger-bg: var(--c-tip-bg);
    --c-danger-title: #BE123C;
    --c-danger-text: var(--c-tip-text);
}

html.dark {
    --c-brand: #D8B4FE;
    --c-brand-light: #e9d5ff;
    --c-tip: #34D399;
    --c-warning: #FBBF24;
    --c-warning-bg: var(--c-tip-bg);
    --c-warning-title: #FBBF24;
    --c-warning-text: var(--c-tip-text);
    --c-danger: #FB7185;
    --c-danger-bg: var(--c-tip-bg);
    --c-danger-title: #FB7185;
    --c-danger-text: var(--c-tip-text);
}
